<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>588553651007-vjlnm2gvk0dmq4q3ncn4lbrggd6vak11.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.588553651007-vjlnm2gvk0dmq4q3ncn4lbrggd6vak11</string>
	<key>API_KEY</key>
	<string>AIzaSyDxiMtpR3PiaLoJOEVbJafWWMrIFqJbNrI</string>
	<key>GCM_SENDER_ID</key>
	<string>588553651007</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.spino.summer-scoring-app</string>
	<key>PROJECT_ID</key>
	<string>summer-scoring-app</string>
	<key>STORAGE_BUCKET</key>
	<string>summer-scoring-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:588553651007:ios:438b7177f523224b3dc98a</string>
</dict>
</plist>